.article .content {
    overflow-x: hidden
}

.friends {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -6px
}

.friends .friend {
    margin: 6px;
    min-width: 350px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #e2e2e2
}

.night .friends .friend {
    border-color: #434a56
}

.friends .friend .friend-avatar {
    flex-shrink: 0;
    margin: 12px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #e2e2e2;
    background-size: cover;
    background-position: center;
    font-size: 32px;
    line-height: 80px;
    text-align: center
}

.friends .friend .friend-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    line-height: 26px
}