img
    max-width 100%
    &.lazyload:not(.placeholder)
        transition opacity .5s ease-out 0s
        &:not(.loaded)
            opacity: 0
            filter blur(8px)
        &.loaded
            opacity: 1
            filter none
        // if hexo-config('addons.lazyload.mode') == 'blurIn'

