night()
    // aplayer
    .aplayer 
    //   .aplayer-miniswitcher 
    //       background: #c0c0c0 !important;
        $border = 1px solid rgba(127, 127, 127, 0.5);
        $bgcolor = rgb(32, 32, 32)

        .aplayer-lrc p
            text-shadow 0 0 2px #000 !important;
            color: rgb(216, 216, 216) !important;

        .aplayer-fixed
            background: rgb(48, 48, 48) !important   
            border-color rgb(56, 56, 56) !important   

        .aplayer-list-light    
            background: rgb(64, 64, 64) !important   

        &.aplayer-withlist 
            .aplayer-info 
                border-bottom: $border;
            
        &.aplayer-fixed
            .aplayer-list
                border: none;

        .aplayer-body
            background: $bgcolor;   

        .aplayer-info
            border-top: none; 
            .aplayer-music
                .aplayer-author
                    color: #AAA   

        .aplayer-pic
            .aplayer-play  
            .aplayer-pause                
                border: $border;

        .aplayer-controller
            .aplayer-bar
                background: #444 !important
                .aplayer-loaded
                    background: #666 !important

            .aplayer-time
                color: #666

                .aplayer-icon
                    path 
                        fill: #aaa
                    &:hover
                        path 
                            fill: #fff

            .aplayer-volume-wrap
                .aplayer-volume-bar     
                    background #666

        .aplayer-list
            backgtound: #222
            &::-webkit-scrollbar-thumb
                background-color: #111
            &::-webkit-scrollbar-thumb:hover
                background-color: #333 
            ol 
                background: #222
            li
                border-top: $border 
                &:hover
                    background: #121212
                &.aplayer-list-light
                    background: #222;    
                .aplayer-list-index
                .aplayer-list-author
                    color: #aaa
        .aplayer-notice

        .aplayer-miniswitcher 
            background: #1a1a1a
            .aplayer-icon
                path 
                    fill: #aaa
                &:hover
                    path 
                        fill: #fff

        color: #eee !important 

body.night
    night()

@media (prefers-color-scheme: dark)
    body:not(.light)
        night()  